[submodule "1-intro/1-intro/homework/imd0040-atv01-IagoGMacedo"]
	path = 1-intro/1-intro/homework/imd0040-atv01-IagoGMacedo
	url = https://github.com/imetropoledigital/imd0040-atv01-IagoGMacedo.git
[submodule "1-intro/homeworks/imd0040-atv01-IagoGMacedo"]
	path = 1-intro/homeworks/imd0040-atv01-IagoGMacedo
	url = https://github.com/imetropoledigital/imd0040-atv01-IagoGMacedo.git
[submodule "1-intro/homeworks/imd0040-atv02-IagoGMacedo"]
	path = 1-intro/homeworks/imd0040-atv02-IagoGMacedo
	url = https://github.com/imetropoledigital/imd0040-atv02-IagoGMacedo.git
[submodule "1-intro/homeworks/imd0040-atv03-IagoGMacedo"]
	path = 1-intro/homeworks/imd0040-atv03-IagoGMacedo
	url = https://github.com/imetropoledigital/imd0040-atv03-IagoGMacedo.git
